@import '../../assets/colors.scss';
@import '../../assets/sizes.scss';

.header {
  font-family: "Open Sans", sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $header_height;
  border: 0.18em solid transparent;
  background: $color_back_white;
  z-index: 1000;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  box-shadow: $shadow;
}

.headerLogo {
  height: 0.9 * $header_height;
}

.title {
  margin-right: 1em;
}
